{% load comments %}
{{ latest }}
{% if object_list %}
    {% for post in object_list %}
      <h2>{{ post }}</h2>
      <p>{{ post.post }}</p>
      {% get_comment_count for post as comment_count %}
      <b>{{ post.author }}</b> wrote {{ post.post|wordcount }} words on {{ post.date|date }} at {{ post.date|time }}
      <br />
      <a href='{{ post.id }}'>
          {{ comment_count }} comments
      </a>
    {% endfor %}
{% else %}
    <a href="/admin/example/post/add/">Add a new blog post</a>
{% endif %}
