{% load comments socialauth_tags %}

<h2> {{ post }}</h2>
<p>{{ post.post }}</p>
  <br /> 
    posted by {{ post.author }} on {{ post.date|date }} at {{ post.date|time }}
  <br />
  <br />
  Comments:
  <br />
    {% render_comment_list for post %}
  <br />
    {% if request.user.username %}
        Comment as {% get_calculated_username request.user %} 
        (<a href="{% url socialauth_social_logout %}?next={{ request.path }}">Not {% get_calculated_username request.user %}?</a>)
        {% render_comment_form for post %}
    {% else %}
        <a href='{% url socialauth_login_page %}?next={{ request.path }}'>Login to comment</a>
    {% endif %}
