{% extends 'openid_consumer/openid_consumer_base.html' %}
{% load i18n %}

{% block title %}

{{ block.super }} - Sign in with your OpenID

{% endblock %}

{% block main_content %}

<h1>{% trans "Sign in with your OpenID" %}</h1>

<form action="{{ action }}" method="post">
<p><input class="openid" type="text" name="openid_url"> <input type="submit" value="{% trans "Sign in" %}"></p>
</form>

<br /><br /><br /><br />


{% endblock %}


{#
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
<title>{% trans "Sign in with your OpenID" %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
</body>
</html>
#}
