body {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}
#openid_choice{
	margin-top:10px;
	display: none;
}
#openid_input_area{
	padding-top:10px;
	clear: both;
}
#openid_username{
	margin-right:5px;
}
#openid_btns, #openid_btns br{
	clear: both;
}
#openid_btns #facebook{
	height: 60px;
	width: 110px;
	float: left;
	margin-top: 3px;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
	border: 1px solid #ccc;
}
#openid_highlight{
	padding: 3px;
	background-color: #FFFCC9;
	float: left;
}
.openid_large_btn{
	width: 100px;
	height: 60px;
	border: 1px solid #DDD;
	margin: 3px;
	float: left;
}
.openid_small_btn{
	width: 24px;
	height: 24px;
	border: 1px solid #DDD;
	margin: 3px;
	float: left;
}
a.openid_large_btn:focus{
	outline: none;
}
a.openid_large_btn:focus{
	-moz-outline-style: none;
}
.openid_selected{
	border: 4px solid #DDD;
}
.linkedin{
	background: #FFF url(/site_media/images/linkedin.jpg) no-repeat center center;
}
.yahoo{
	background: #FFF url(/site_media/images/yahoo.gif) no-repeat center center;
}
.google{
	background: #FFF url(/site_media/images/google.png) no-repeat center center;
}
.openid{
	background: #FFF url(/site_media/images/openid.png) no-repeat center center;
}
.twitter{
	background: #FFF url(/site_media/images/twitter.png) no-repeat center center;
}

