{% extends 'socialauth/socialauth_base.html' %}

{% block html_declare %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
{% endblock %}


{% block extra_body %}
{{ block.super }}
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script type="text/javascript">
function facebook_onlogin(){
    window.location = "{% url socialauth_facebook_login_done %}"
    
}
</script>
{% endblock %}

{% block main_content %}
{% if user.is_authenticated %}

<p>
    You are already logged in. <a href="{% url socialauth_social_logout %}">Logout</a>?
</p>

{% else %}

<div id="login">
    <div id="twitter">
        <a href="{% url socialauth_twitter_login %}" id="twitter_login_link">Login via twitter</a>
    </div>
    
    <div id="yahoo">
        <a href="{% url socialauth_yahoo_login %}" id="yahoo_login_link">Login via Yahoo</a>
    </div>
    
    <div id="openid">
        <a href="{% url socialauth_openid_login %}" id="openid_login_link">Login via Openid</a>
    </div>
    
    <div id="google">
        <a href="{% url socialauth_google_login %}" id="google_login_link">Login via Google</a>
    </div>
    <div id="facebook">
        <fb:login-button onlogin="facebook_onlogin();"></fb:login-button>
    </div>
    
    <script type="text/javascript">  FB.init("{{ FACEBOOK_API_KEY }}", "{% url socialauth_xd_receiver %}"); </script>
    
    <br />
    <br />
    <br />
    
</div>
{% endif %}
{% endblock %}
